.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding-top: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
   z-index: 1;
}

.titlecontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; 
}
.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(169, 169, 169, 0.41);
    border-radius: 5%;
  }
}
.grayItem {
  color: gray;
  cursor: pointer;
}

.selectedItem {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.separator {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc; 
  margin-left: 10px; 
}
.title,
.grayItem,
.selectedItem {
  color: black; 
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}
 .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: rgb(39, 0, 50);
}